<!-- <p>home works!</p> -->

<div style="display: flex; flex-direction: column">
  <!-- <button mat-fab extended>
    <mat-icon>list</mat-icon>
    <a routerLink="/list/0" href="#" role="button" mat-button>
      <div [matBadge]="allShows.length" matBadgeOverlap="false">
        View All Shows
      </div>
    </a>
  </button> -->

  <a routerLink="/list/0" href="#" role="button" mat-fab extended>
    <div [matBadge]="allShows.length" matBadgeOverlap="false">
      <mat-icon>list</mat-icon>
      View All Shows
    </div>
  </a>

  <a
    routerLink="/list/1"
    [ngClass]="{
      'btn btn-lg btn-block': true,
      'btn-outline-primary': addedTodayShows.length === 0,
      'btn-success': addedTodayShows.length > 0
    }"
    href="#"
    role="button"
    mat-fab
    extended
  >
    <div
      [matBadge]="addedTodayShows.length"
      matBadgeOverlap="false"
      [matBadgeHidden]="addedTodayShows.length === 0"
    >
      <mat-icon>list</mat-icon>
      Added Today
    </div>
  </a>

  <a routerLink="/list/3" href="#" role="button" mat-fab extended>
    <div
      [matBadge]="addedWithin3DaysShows.length"
      matBadgeOverlap="false"
      [matBadgeHidden]="addedWithin3DaysShows.length === 0"
    >
      <mat-icon>list</mat-icon>
      Added In Last 3 Days
    </div>
  </a>

  <a routerLink="/list/7" href="#" role="button" mat-fab extended>
    <div
      [matBadge]="addedWithin7DaysShows.length"
      matBadgeOverlap="false"
      [matBadgeHidden]="addedWithin7DaysShows.length === 0"
    >
      <mat-icon>list</mat-icon>
      Added In Last 7 Days
    </div>
  </a>

  <a routerLink="/create" href="#" role="button" mat-fab extended>
    <mat-icon>add_circle</mat-icon>
    Add New Show
  </a>
</div>
